/* BASIC STYLE */

header, footer {
    background-color: #1F2937;
    color: #f9faf8;
}

header h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

header p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

#header-logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

button {
    font-weight: bold;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
}

header button {
    text-align: center;
    padding: 2% 5%;
    margin-top: 3%;
}

.bottom button {
    text-align: center;
    width: 7vw;
    padding: 5px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center {
    background-color: #E5E7EB;
    font-size: 36px;
    color:#1F2937;
    font-family: light;
    font-style: italic;
}

.bottom {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
}


/* --- */

header {
    padding: 1vh 25vw 5vh 25vw;
    height: 25%;
}
.top {
    height: 20%;
}

.center {
    padding: 5vh 25vw 5vh 25vw;
    height: 25%;
}
.bottom {
    height: 10%;
    margin: 5vh 25vw 5vh 25vw;
}
footer {
    text-align: center;
    padding: 1vh;
}

header .container {
    gap: 2vw;
    width: auto;
    height: auto;
}

#awesome-website {
    width: 50%;
}

figure {
    align-self: stretch;
    margin: 0;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
} 

figure.container {
    width: 50%;
    min-height: fit-content;
    padding-bottom: 0;
}

.nav-var ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-bottom: 4%;
}

#header-logo-text {
    margin-right: auto;
}

.container {
    display: flex;
}

.top {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 150px; 
}

.card img {
    width: 150px;
    height: 150px;
    border: 3px solid #2c85eb;
    border-radius: 14px;
}

.top .container {
  justify-content: center;
  gap: 4%;
}

.top h2 {
    margin: 2%;
}

.bottom .container {
    justify-content: center;
    align-items: center;
}

.bottom .container button {
    border: 2px solid #FFFFFF;
}

.center blockquote{
    margin:auto
}
.center p {
    text-align: right;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 0;
    font-weight: bold;
}

.bottom .container {
    justify-content: space-around;
}

.bottom .container h3 {
    margin-bottom: 0;
}

.bottom .container p {
    margin-top: 0;
}

.bottom .container {
    height: 10vh;
}